<h3>Search Results</h3>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |id, album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name + ", " + album.artist%></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display by that name.</p>
<% end %>
<a href="/albums">Return to album list</a>
